<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Responsive Navbar</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="assets/img/Logo64x64.png" alt="logo" />
        <h1>Ticket Master</h1>
      </div>
      <ul>
        <li>
          <button mat-button class="nav_link">Home</button>
        </li>
        <li>
          <button mat-button class="nav_link">New Tickets</button>
        </li>
        <li>
          <button mat-button class="nav_link">View Tickets</button>
        </li>
        <li>
          <app-menu-navigation></app-menu-navigation>
        </li>
      </ul>
    </nav>
    <div class="menubar">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </div>

    <script src="script.js"></script>
  </body>
</html>
